.studentloan-buttom-one{
    background:  url("../../assets/images/slider/student-slider-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.studentloan-buttom-two{
    background:  url("../../assets/images/slider/student-slider-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.studentloan-buttom-three{
    background: url("../../assets/images/slider/student-slider-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}